<header>
  <ul class="header">
    <li><a href="/products" class="header_link">inicio</a></li>
    <li><a href="#" class="header_link">item 2</a></li>
    <li><a href="#" class="header_link">item 3</a></li>
    <li>
      <a href="/products/createProducts" class="header_link">ingreso internos</a>
    </li>
    <li><a href="/products/edit" class="header_link">editar interno</a></li>
  </ul>
</header>
